# =============== #
# Unity generated #
# =============== #
src/Our Many Masks/Temp/
src/Our Many Masks/Obj/
src/Our Many Masks/UnityGenerated/
src/Our Many Masks/Library/
src/Our Many Masks/Library/CurrentLayout.dwlt
src/Our Many Masks/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
